body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  /* box-sizing: none !important; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}
/* NavBar */
.navbar {
  height: 5rem;
  background-color: #fff;
}

.fa-airbnb {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  background-color: #fff !important;
  color: #222222 !important;
  font-size: 1.5rem;
}

/* Footer */

.f-info-socials,
.f-info-links,
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.5rem;
}
.f-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  text-align: center;
}
.f-info-socials i {
  text-decoration: none;
  color: rgb(41, 54, 239);
  margin-right: 1rem;
}

.f-info-socials i:hover {
  text-decoration: underline;
  font-size: 1.2rem;
  color: #74c0fc;
}
.copyright:hover {
  color: rgb(41, 54, 239);
  text-decoration: underline;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}
.f-info-links a:hover {
  text-decoration: underline;
  color: rgb(41, 54, 239);
}

/* cards-------------------- */
.listing-card {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border: none !important;
  padding: 0;
  border-radius: 1rem !important;
  margin: 1rem !important;
}
h3 {
  text-align: center !important;
  margin: 1rem !important;
}
.row {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 0 !important;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.card-img-top {
  height: 20rem;
  object-fit: cover;
  border-radius: 1rem !important;
  width: 100% !important;
}
.card-body {
  padding: 0.6rem !important;
}

.card-text p {
  font-weight: 400;
}

/* card hover effect */
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  background-color: #fff;
  opacity: 0.4 !important;
  border-radius: 1rem !important;
}

.review-row-comments {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.review-card-comments {
  flex: 1 1 45%;
  max-width: 48%;
  margin-bottom: 1rem;
}

/* New Listing Page----------------------- */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
  color: #fff !important;
}

/* show-page----------------- */
.show-card {
  margin-bottom: 1rem !important;
}
.show-img {
  height: 30vh;
}
.btnsg {
  display: flex !important;
  justify-content: space-between !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
